<h1><%=@physician.dr_name%></h1>
<h2>Appointments</h2>
<% @physician.appointments.each do |appointment|%>
  <p><%=link_to appointment.date, physician_appointments_path(@physician) %></p>
<% end %>






<%=link_to 'Edit Physician', edit_physician_path(@physician)%>
<%=link_to 'Delete Physician', @physician, method: :delete%>
