<h1 class= "ui header ">Welcome to the DPL Hospital Home Page</h1>
<br>
<br>
<b><%= button_to "I am a Physician", physicians_path, :method => "get" , class: "ui huge violet button" %></b>
<br>
<br>
<br>
<b><%= button_to "I am a Patient", patients_path, :method => "get", class: "ui huge violet button" %></b>
