<h1><%= @patient.id ? "Edit Patient" : "Create New Patient" %></h1>
<hr/>
<%= form_with(model: @patient, local: true, class: 'ui form' ) do |f| %>
<div class="field">
    <%= f.label :patient_name %>
    <%= f.text_field :patient_name, required: true, autofocus: true, placeholder: "Name" %> 
  </div>
<% end %>