<<<<<<< HEAD
<h1>Show Patient</h1>
=======
<h1><%= @patient.patient_name %></h1>

<h2> Show Appointments Here </h2>

<%= link_to 'Edit', edit_patient_path %>
>>>>>>> 0426d0ea570ba82d4de782209241e86379d5047b
