<h1>Appointments</h1>
    
<h2><%= @physician.dr_name%>: Appointments</h2>
<h2><%= @patient_name.patient_name%></h2>

<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= appointment.date %>
    </li>
  <% end %>
</ul>
